{{ ansible_managed|comment }}

[Unit]
Description=pull-journal-central-client Service logger

[Service]
ExecStart=/bin/sh -c 'echo "hallo" > /hallo.txt'
