{{ ansible_managed|comment }}

[Unit]
Description=printer detection service
After=network-online.target
ConditionPathExists=!/ansible_distro/printerdetection/disabled
 
[Service]
Type=oneshot
ExecStart=/ansible_distro/printerdetection/scripts/printerdetection.sh
StandardOutput=journal
StandardError=journal
TimeoutStopSec=600
