{{ ansible_managed|comment }}

[Unit]
Description=system configuration upgrade reenabler
 
[Timer]
{{ ansible_pull_reenable_timer }}
Unit=ansible-pull-reenable.service
Persistent=true
 
[Install]
WantedBy=multi-user.target
