{{ ansible_managed|comment }}

[Unit]
Description=system configuration upgrade
After=network-online.target
ConditionPathExists=!/ansiblepull/disabletemporaryuntil
 
[Service]
ExecStart=/bin/sh -c 'until host github.com; do sleep 1; done && ansible-galaxy collection install community.general && ansible-pull -C dev -U "{{ ansible_pull_url }}" -i "$(uname -n)," --diff'
TimeoutStopSec=600
