[Desktop Entry]
Comment[en_US]=
Comment=
Exec= /bin/bash -c 'sleep 5 && qdbus org.kde.plasmashell /PlasmaShell org.kde.PlasmaShell.evaluateScript "$(</home/{{ desktop_username }}/.config/ansible_distro/configure_plasma_shell.js)"'
GenericName[en_US]=
GenericName=
Icon=dialog-scripts
MimeType=
Name[en_US]=configure plasma
Name=configure plasma
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-AutostartScript=true
X-KDE-SubstituteUID=false
X-KDE-Username=