[Unit]
Description=configure plasma

[Install]
WantedBy=default.target

[Service]
Type=simple
ExecStart=/home/{{ desktop_username }}/.config/ansible_distro/configure_plasma_shell.sh